*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #ebfcfc;
}

main{
  text-align: center;
}

.app{
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: center;
  place-items: center;
  gap: .7rem;
}

.user{
  background-color: #fff;
  height: 20rem;
  width: 15rem;
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 5px 32px 50px -13px rgba(0,0,0,0.1); 
  box-shadow: 5px 32px 50px -13px rgba(0,0,0,0.1);
  border-radius: .5rem;
  color: #1F2421;
}

.user h1{
  margin-bottom: .5rem;
}

.btn{
  margin: 2rem 0;
  padding: 1rem 7rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  background-color: #D35269;
  border: none;
  border-radius: .5rem;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

.fetch-users{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

