*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #ebfcfc;
}

main{
  text-align: center;
  padding: 2rem;
}

.app{
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: center;
  place-items: center;
  gap: 1rem;
}

.user{
  background-color: #fff;
  height: 20rem;
  width: 15rem;
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 5px 32px 50px -13px rgba(0,0,0,0.1); 
  box-shadow: 5px 32px 50px -13px rgba(0,0,0,0.1);
  border-radius: .5rem;
  color: #1F2421;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user h1{
  margin-bottom: .5rem;
}

.user p{
  margin-top: 2rem;
}

.btn{
  margin: 4rem 0;
  padding: 1rem 7rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  border: 1px solid rgba(31, 36, 33, .1);
  background-color: #fff;
  border-radius: .5rem;
  color: rgba(31, 36, 33, 1);
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:hover{
  background-color: #fcfcfc;
}

.fetch-users{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-user-btn{
  margin-top: .9rem;
  padding: 0.3rem 0;
  border-radius: .5rem;
  border: none;
  background-color: #D35269;
  color:#fff;
  cursor: pointer;
}

.delete-user-btn:hover{
  opacity: .9;
}